<!DOCTYPE html>
<html lang="en">

<head>
 	<title>Actualizar Actividad</title>
 	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">		
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../static/css/createActivity.css">
</head>

<body>	
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h1 class="text-center mt-5 font-weight-bold">Actualizar Actividad</h1>
			<hr class="bg-white">
			<h6 class="text-center">Por favor diligencie los campos requeridos debajo</h6>
			<form action="" method="POST">
			</div>
			</div>					
			<div class="row">
				<div class="col-md-2"></div>
				<label class="col-md-4">Código de la asignatura*<br>
					<input type="number" id="text" required=""  name="codigoAsignatura" placeholder="Ingrese un código válido de asignatura"></label>
                <label class="col-md-4">Código de actividad*<br>
                    <input type="number" id="text" required="" name="codigoActividad" placeholder="Ingrese el código que asignó a su actividad"></label>
			</div>
            <div class="row">
				<div class="col-md-2"></div>
				<label class="col-md-4">Nombre de actividad*<br>
					<input type="text" id="text" required="" name="nombreActividad"  placeholder="Ingrese nuevo nombre de actividad"></label>
                <label class="col-md-4">Descripción de actividad*<br>
                    <input type="text" id="text" required="" name="descripcionActividad"  placeholder="Ingrese nueva descripción de la actividad"></label>
			</div>
						<div class="row">
				<div class="col-md-3"></div>
				<button class="btn btn-primary" type="submit" style="width: 53.5%; position: center;">Actualizar actividad</button>
			</div>
            <br>
            
                </div>
                </div>
                </div>
              </div>
			</form>
			<div class="container">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
			<div class="card-footer text-center">
			<a href="{{url_for('gestionActividades_Profesor')}}"> 
			<button id="btnDash" type="submit" class="btn btn-primary" style="width: 50%; position: center;">
                Volver al panel de actividades y notas
            </button>
			</a>
		</div>
	</div>
</div>
</div>
</div>

</body>
</html>  