<!DOCTYPE html>
<html lang="en">

<head>
 	<title>Buscar Asignatura</title>
 	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">		
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../static/css/createActivity.css">

</head>

<body>	
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h1 class="text-center mt-5 font-weight-bold">Buscar Asignatura</h1>
			<hr class="bg-white">
			<h6 class="text-center">Por favor diligencie los campos requeridos debajo</h6>
			<form>
			</div>
			</div>					
			<div class="row">
				<div class="col-md-2"></div>
				<label class="col-md-4">Código de asignatura<br>
					<input type="number" id="text" required="" placeholder="Ingrese el código de la asignatura que desea buscar"></label>
                <label class="col-md-4">Nombre de usuario<br>
                    <input type="text" id="text" required="" placeholder="Ingrese el nombre de usuario que desea buscar para ver sus asignaturas asignadas"></label>
			</div>
						<div class="row">
				<div class="col-md-3"></div>
				<button class="btn btn-primary" style="width: 53.5%; position: center;">Buscar Asignatura</button>
			</div>
        </form>
            <div class="card-deck mt-5">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                  <!-- <img src="../sttic/images/estudiante.png" class="img-fluid" alt="Información" height="260"> -->
                 
                  <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">CÓDIGO DE ASIGNATURA</th>
                          <th scope="col">NOMBRE ASIGNATURA</th>
                          <th scope="col">CÓDIGO DE USUARIO</th>
                          <th scope="col">NOMBRE DE PROFESOR</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row"></th>
                          <td>2</td>
                          <td>Introducción a Algoritmos</td>
                          <td>5</td>
                          <td>Julio Profe Profe</td>
                        </tr>
                        </tr>
                      </tbody>
                    </table>
                </div>
                </div>
                </div>
              </div>
			
      <div class="container">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
			<div class="card-footer text-center">
			<a href="{{url_for('asignaturas_Administrador')}}"> 
			<button id="btnDash" type="submit" class="btn btn-primary" style="width: 50%; position: center;">
                Volver al panel de gestión de asignaturas
            </button>
			</a>
		</div>
	</div>
</div>
</div>
</div>

</body>
</html>  