<!DOCTYPE html>
<html lang="en">
<head>
 	<title>Crear Actividad</title>
 	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">		
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../static/css/createActivity.css">
</head>
,
<body>	
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1 class="text-center mt-5 font-weight-bold">Registro de Notas</h1>
				<hr class="bg-white">
				<h6 class="text-center">Por favor diligencie los campos requeridos debajo</h6>
				<form action="" method="GET"> 
				</div>
				</div>					
					<div class="row">
						<div class="col-md-2"></div>
						<label class="col-md-4">Código de la asignatura*<br>
							<input type="number" id="text" name="codigoAsignatura" required="" placeholder="Ingrese un código válido de asignatura"></label>
						<label class="col-md-4">Código de actividad*<br>
							<input type="number" id="text" name="codigoActividad" required="" placeholder="Ingrese el código que qasignó a su actividad"></label>
					</div>
				<div class="row">
					<div class="col-md-2"></div>
					<label class="col-md-4">Código de estudiante*<br>
						<input type="number" id="text" name="codigoEstudiante" required="" placeholder="Ingrese un código válido de asignatura"></label>
						<label class="col-md-4">Nota del estudiante<br>
							<input type="number" id="text" name="notaEstudiante" required="" placeholder="Ingrese la calificación del estudiante"></label>
				</div>
					<div class="row">
					<div class="col-md-3"></div>
					<button class="btn btn-primary" type="submit" style="width: 53.5%; position: center;">Registrar nota</button>
					<br>
					</div>
					<br>
					<div class="row">
					<div class="col-md-3"></div>
					<!-- <button id="btnDash" type="submit" class="btn btn-primary" style="width: 53.5%; position: center;">
					Volver a la pantalla principal
					</button> -->
				</div>
				</div>
				</form>
			<div class="container">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
			<div class="card-footer text-center">
			<a href="{{url_for('gestionActividades_Admin')}}"> 
			<button id="btnDash" type="submit" class="btn btn-primary" style="width: 50%; position: center;">
                Volver al panel de actividades y notas
            </button>
			</a>
		</div>
	</div>
</div>
</div>

</div>

</body>
</html>  