<!DOCTYPE html>
<html lang="en">

<head>
 	<title>Eliminar Usuario</title>
 	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">		
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../static/css/createActivity.css">

</head>

<body>	
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h1 class="text-center mt-5 font-weight-bold">Eliminar Usuario</h1>
			<hr class="bg-white">
			<h6 class="text-center">Por favor diligencie los campos requeridos debajo</h6>
			<form action="" method="DELETE">
			</div>
			</div>					
			<div class="row">
				<div class="col-md-2"></div>
				<label class="col-md-4">Código de usuario<br>
					<input type="number" id="text" method = "DELETE" name= "codigo" placeholder="Ingrese el código del usuario que desea eliminar" class="form-control"></label>
                <label class="col-md-4">Nombre de usuario<br>
                    <input type="text" id="text" name= "usuario" method = "DELETE"   placeholder="Ingrese el nombre de usuario que desea eliminar" class="form-control"></label>
			</div>
						<div class="row">
				<div class="col-md-3"></div>
				<button class="btn btn-primary" type="submit" style="width: 53.5%; position: center;">Eliminar usuario
                    
                </button>
			</div>
            </form>
              </div>
			
      <div class="container">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
                        <div class="card-footer text-center">
                            <p id="errores">
                              {% if error  %}
                              {{error}}
                              {% endif %}    
                          </p>
                          <br>
                          <p>Instrucciones de uso</p>
                          <p text-align="left">Para eliminar un usuario debe ingresar su código o nombre de usuario, si la eliminación se hace correctamente, verá un mensaje de confirmación<br>
                          </div>
			<div class="card-footer text-center">
			<a href="{{url_for('gestionUsuarios_Admin')}}"> 
			<button id="btnDash" type="submit" class="btn btn-primary" style="width: 50%; position: center;">
                Volver al panel de control de usuarios
            </button>
			</a>
		</div>
	</div>
</div>
</div>
</div>

</body>
</html>  