<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
  <title>Gestion actividades y notas</title>
  <link rel="stylesheet" 
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
  crossorigin="anonymous"> 
  <link rel="stylesheet" href="../static/css/estiloGeneral.css">
   
</head>
<body>
<div class="container">
  <br>
  <br>
  <h1 class="font-weight-bold">Gestiona actividades y notas</h1>
  <hr class="bg-white">
  <div class="card-deck mt-5">
  <div class="card">
    <div class="card-body">
    <img src="../static/images/actividad.png" class="img-fluid" alt="Actividades" height="260">
    <br>
    <br>
    <h5 class="card-subtitle" align="center">Panel de actividades</h5>
    <a href="{{url_for('crearActividad')}}"> 
    <button id="btnDash" type="submit" class="btn btn-block btn-primary mt-3">
      Crear actividades 
    </button>
    </a>
    <a href="{{url_for('consultarActividad')}}"> 
    <button id="btnDash" type="submit" class="btn btn-block btn-primary mt-3">
        Consultar actividades
      </button>
      </a>
      <a href="{{url_for('actualizarActividad')}}">  
      <button id="btnDash" type="submit" class="btn btn-block btn-primary mt-3">
       Actualizar actividades
      </button>
      </a>
      <a href="{{url_for('eliminarActividad')}}"> 
      <button id="btnDash" type="submit" class="btn btn-block btn-primary mt-3">
        Eliminar actividades
      </button>
      </a>
  </div>
  </div>
  <div class="card">
    <div class="card-body">
    <img src="../static/images/grade.png" class="img-fluid" alt="Notas">
    <br>
    <br>
    <h5 class="card-subtitle" align="center">Panel de notas</h5>
    <a href="{{url_for('crearNota')}}">
    <button id="btnDash" type="submit" class="btn btn-block btn-primary mt-3">
    Asignar notas
    </button>
    </a>
    <a href="{{url_for('consultarNota')}}">
    <button id="btnDash" type="submit" class="btn btn-block btn-primary mt-3">
    Consultar notas
    </button>
    </a>
    <a href="{{url_for('actualizarNota')}}">
    <button id="btnDash" type="submit" class="btn btn-block btn-primary mt-3">
    Actualizar notas
    </button>
    </a>
  </div>
  </div>
  <a href="{{url_for('landingProfesor')}}"> 
    <button id="btnDash" type="submit" class="btn btn-block btn-primary">
      Volver a la pantalla principal
    </button>
    </a>
</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</html>