<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Estudiante</title>
  <link rel="stylesheet" 
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
  crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/estiloGeneral.css">
</head>
<body>
<div class="container">
  <br>
  <br>
  <h1>Hola! Bienvenido a la plataforma</h1>
  <div class="card-deck mt-5">
  <div class="card">
    <div class="card-body">
    <img src="../static/images/estudiante.png" class="img-fluid" alt="Información" height="260">
    <br>
    <br>
    <h5 class="card-subtitle">Consulta los datos de tu cuenta</h5>
    <a href="{{url_for('profileInformation_Estudiante')}}"> 
    <button id="btnDash" type="submit" class="btn btn-block btn-primary mt-3">
      Información
    </button>
  </a>
    <p>Revisa tus datos de registro y código de estudiante</p>
  </div>
  </div>
  <div class="card">
    <div class="card-body">
    <img src="../static/images/subject.png" class="img-fluid" height="260" alt="Asignaturas">
    <br>
    <br>
    <h5 class="card-subtitle" text-align="center">Consulta asignaturas</h5>
    <a href="{{url_for('asignaturas_Estudiante')}}"> 
    <button id="btnDash" type="submit" class="btn btn-block btn-primary mt-3">
    Asignaturas
    </button>
    </a>
    <p>Obtén el nombre y código de las asignaturas que tienes matriculadas</p>
  </div>
  </div>
  <div class="card">
    <div class="card-body">
    <img src="../static/images/notas.png" class="img-fluid" alt="Actividades y Notas">
    <br>
    <br>
    <h5 class="card-subtitle">Consulta tus actividades y notas</h5>
    <a href="{{url_for('actividadesNotas')}}"> 
    <button id="btnDash" type="submit" class="btn btn-block btn-primary mt-3">
    Actividades y Notas
    </button>
    </a>
    <p>Recuerda tener el código de la asignatura para la búsqueda de tus actividades y notas</p>
  </div>
  </div>

</div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</html>